
.DS_Store
main.aux
main.log
main.synctex.gz
practice_exams/Eden_made/practice_exam.aux
practice_exams/Eden_made/practice_exam.log
content_speedrun/1.aux
content_speedrun/1.log
content_speedrun/1.out
content_speedrun/1.synctex.gz
content_speedrun/1.toc
practice_exams/Eden_made/practice_exam.synctex.gz
practice_exams/practice-exam-stats115-2024-solutions.fdb_latexmk
practice_exams/practice-exam-stats115-2024-solutions.fls
practice_exams/practice-exam-stats115-2024-solutions.log
practice_exams/practice-exam-stats115-2024-solutions.synctex.gz
practice_exams/practice-exam-stats115-2024-solutions.aux
